body{
    margin: 0;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
.header{
    background-color: yellow;
    height: 10vh;
} 
.visual{
    background-color: salmon;
    height: 10vh;
}
.main{
    background-color: blue;
    padding: 30px 15px;
}
.group{
    height: 60vh;
    margin: 15px;
}
.group1{
    background-color: violet;
    float: left;
    width: 250px;
}
.group2{
    background-color: aqua;
    width: 380px;
    float: left;
}
.group3{
    background-color: sandybrown;
    width: 190px;
    float: left;
}
.slogan{
    background-color: lightgreen;                                                               
    height: 10vh;
}
.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}