@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./fontello.css);
@import url(./normalize.css);
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
    background-color: red;
    position: absolute;
    /* top: -9999px top좌표를 쓰면 저시력 사용자에게 혼란을 유발 할 수 있다 스크린 튐 현상 발생 */
     /* 화면에 영역이 있어야 읽어줌 포커스를 받으려면 기본적인 크기가 있어야 함  */
    width: 1px;
    height: 1px;
    /* padding과 다르게 nagative값 사용 가능  */
    margin: -1px;
    overflow: hidden;
    /* 그렇게 해도 빨간 점이 작게 찍힌 것처럼 보이기 때문에 이걸 숨기기 위해 사용 polygon 함수 사용*/
    /* crip rect는 하위버전을 위해서 같이 사용*/
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

/*스타일 초기화 리셋을 하고 시작*/
.reset-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

html{
    font-size: 10px;
}
body{
    font-size: 1.2rem;
    /* body에만 넣어주면 상속 */
    font-weight: 300;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    background: url(./images/bg_flower.png) no-repeat 50% 0, linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 50%, #fff 100%) repeat 0 0;
    background-color: #ccc;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 링크 스타일 */
a{
    text-decoration: none;
    color: inherit;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    background-color: #fff;
    position: relative
    padding: 0 30px 35px;
    border-radius: 0 0 15px 15px;
} 
/* 로고 */
.logo{
    margin: 0;
    position: absolute;                                                                                                                                                                                                                                                                                                                                                                  
    top: 41px;
    left: 65px;
    font-size: 100%;
    line-height: 1;
}

/* 안내링크 */
.member{
    margin: 0;
    list-style: none;
    padding-left: 0;
    /* 인라인 블록 방식 */
    text-align: right;
    font-size: 0;
    padding: 5px 0;
    position: relative;
    right: -10px;
}
.member li{
    display: inline-block;
    font-size: 1.2rem;
}
.member a{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
}
.divider{
    margin: 0 3px;
}
/* 메인 메뉴 */
.menu{
    /* boerder-top은 상자 사이즈에 영향을 줌 못 쓰는 경우는 box-shadow사용 뒤에 있던 그림자가 올라오기 위해서는 - 음수값 사용 */
    border-top: 2px solid #000;
    /* box-shadow: 0 -2px 0 0 #000; */
    /* 폴백으로 배경색까지 벽지가 붙여지지정 않을 때도 보이게 같이 설정 */
    background:#c45635 linear-gradient(to bottom, #e0a54c 0%,#c45635 23%,#c45635 85%,#e0a54c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* 모서리 둥근 효과 */
    border-radius: 0 0  5px 5px;
    /* border-radius: 0 0 30 px 30px / 0 0 5px 5px; */
    height: 47px;
    padding-left: 225px;                                           
}
.menu a{
    outline: 0;
}
.menu-item{
    /* 자식의 기준으로만 삼을 거기 때문에 realative */
    position: relative;
    float: left;
    border-left: 1px solid  #fff;
}
.menu-item-button{
    padding: 2px 20px 0;
    line-height: 45px;
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    /* 글자 테두리 만드는 법 왼쪽하단 오른쪽 상단 2개 만듦 */
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-act .menu-item-button{
    color: yellow;
    /* border-bottom: 2px solid #000; */
}
.menu-act .menu-item-button::after{
    content: "";
    display: block;
    background-color: #000;
    height: 2px;
    margin-top: -2px;
}
.sub-menu{                                                                                                 
    position: absolute;
    display: none;
    top: 47px;
    /* white-space 공백 처리 nowrap 줄바꿈 허용 금지*/
    white-space: nowrap;
}
.menu-act .sub-menu{
    display: block;
}
.sub-menu1 .sub-menu2 .sub-menu3{
    /* display: block; */
    left: 0;
}
/* 1,2,3은 left로 처리 4,5,6은 right로 처리 */
.sub-menu4 .sub-menu5 .sub-menu6{
    right: 0;
}
.sub-menu li{
    display: inline-block;
}
.sub-menu a{
    display: inline-block;
    padding: 10px 0 8px;
    margin-right: 5px;
}
/* .sub.menu a{
    content: '\f192';
    font-family: 'fontello';
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}
.sub.menu a::hover::before .sub.menu a::focus::before{
    content: '\e800';
} */
.sub-menu a:hover, .sub-menu a:focus{
    color: #f00;
}
/*비주얼 애니메이션 스타트 지점0% from 끝나는 지점 100% to 구간을 줘야함*/
/* 선택자 지정이 중요 */
@keyframes textAni{
    0%{
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    margin: 0;
    transform: translate(0, 0);
    }
    100%{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    /* 박스사이즈 보더 박스로 만들었기 때문에 padding사용 가능 margin은 레이아웃이 무너짐 여백도 배치에 문제를 준다*/
    transform: translate(400px, 75px);
    }
}
@keyframes bgAni{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.visual{
    height: 120px;
    position: relative;
}
/* 실무 마크업 요소에 담는 것이 나음 2번씩 밖에 못 쓰기 때 */
.visual::before, .visual::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation-name: bgAni;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.visual::before{
    /* 먼저 선언한 배경이 위로 올라옴 레이어는 반대*/
    background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
    background: url(.images/ani_flower_01.png) no-repeat 0 -10px, 670px 0
}
.visual::after{
    background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
    background: url(.images/ani_flower_01.png) no-repeat 300px 0, 800px 0;
    animation-delay: 1000ms;
}
.visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    /* 선언 순서 때문에 after위로 올라가게 */
    z-index: 10;
    animation-name: textAni;
    /* position: absolute; */
    /* 실행시간도 같이 줘야함 */
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
/* 메인 콘텐츠 */
.main{
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    min-height: 400px;
}
.group1{
    width: 250px;
}
.group2{
    width: 380px;
}
.group3{
    width: 190px;
}
.login{
    /* radial-gradient(circle at right top, #eaac2e, #ce4827 */
    background: linear-gradient(135deg, #CE6123 60%, #D38730);
    background-color: orange; 
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #aaa;
    padding: 10px;
}
.login-heading{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #dada24;
    /* 첫 줄 들여쓰기 박스에만 넣을 수 있다 margin padding은 박스 사이즈에 영향을 주기 때문에 
    indent를 사용한다 또한  음수값을 줄 수 있다*/
    text-indent: 10px;
}
.login-form{
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 0 10px;
    margin-top: 10px;
}
.login-form fieldset{
    margin: 0;
    padding: 0 0 10px 0;
    border: 0;
    border-bottom: 1px solid #aaa;
    margin-top: 10px;
    position: relative;
}
/* 아이디 비밀번호 사이 띄우기 이 경우 비밀번호 위만 띄움 */
.user-pw{
    margin-top: 6px;
}
/* 아이디 비밀번호 그리드 맞추기 */
.login-form label{
    display: inline-block;
    width: 50px;
}
.login-form input{
    width: 90px;
    height: 22px;
    padding: 1px 1px 1px 5px;
    /* solid 가능한한 재정의 해줘야 함 */  
    border: 1px solid #aaa;
}
.btn-login{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ce4827;
    padding: 0;
    border: 0;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
/* 회원 가입 비번찾기 부분 */
.member-service{                                                                                                                                   
    background: #fff;
    padding: 5px 10px;
    margin: 0;
    list-style-type: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
}
.member-service a{
    display: inline-block;
    padding-top: 5px 0;
}
/* 어디 안에 있다를 한정적으로 선택해야함 범용성을 가지기 때문 */
.member-service .icon-right-open{
    color: #ce4827;
}
/* 유효성 검사 배너 */
.validation-list{
    margin: 25px 0 0 0;
    padding-left: 0;
    list-style-type: none;
}
.validation-list a{
    display: block;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 10px;
    padding: 7px 5px 5px 40px;
    background: url(./images/validation_icon.png) no-repeat 15px 50%, linear-gradient(180deg, #ccc, #eee);
    background-color: #ccc;
}
.term{
    display: inline-block;
    width: 250px;
    background: linear-gradient(180deg, #ccc, #eee);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
}
/* 웹 관련 용어 */
.term-heading{
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.5rem;
}
/* 웹 표준이란? */
.term-list-subject{
    float: right;
    width: 145px;
    color: #296897;
    font-size: 100%;
    font-weight: 500;
}
/* 로고 */
.term-list-thumbnail{
    display: inline;
    position: relative;
    margin: auto;
    float: left;
    background: url(./images/common/web_standards.gif) no-repeat 15px 50%;
}
/* text */
.term-list-brief{
    margin: auto;
    float: right;
    width: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* 2번째 웹 표준이란? */
.term-list-subject-2{
    float: left;
    width: 145px;
    color: #296897;
    font-size: 100%;
    font-weight: 500;
    margin-top: 10px;
}
/* 2번째 로고 */
.term-list-thumbnail-2{
    display: inline;
    position: relative;
    margin: auto;
    float: right;
    background: url(./images/common/web_standards.gif) no-repeat 15px 50%;
}
/* 2번째 text */
.term-list-brief-2{
    margin: auto;
    float: left;
    width: 145px;
    margin-top: 10px;
    font-weight: 500;
}
/* 검색 폼 */
.searching-form{
    background: #ccc linear-gradient(180deg, #ccc, #fff);
    border: 1px solid #aaa;
    border-bottom-color: #fff;
    padding: 15px 25px 10px;
    border-radius: 15px 15px 0 0;
}
.searching-form fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}
.searching-form .flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searching-form input{
    width: 200px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
    height: 22px;
    border-radius: 3px;
}
.btn-search{
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #212121;
    color: #fff;
    padding: 3px 10px;
    height: 22px;
    font-size: 1.1rem;
}
/* notice pds */
.board{
    background-color: yellow;
    position: relative;
    padding-top: 45px;
    margin-top: 20px;
}
.notice-list, .notice-more, .pds-list, .pds-more{
    display: none;    
}
/* notice그룹에만 act를 줌 */
.tab-act .notice-list, .tab-act .notice-more,
.tab-act .pds-list, .tab-act .pds-more{
    display: block;
}
.tab{
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    background: #ccc linear-gradient(180deg, #ccc, #eee);
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
    padding: 10px 15px 8;
    margin: 0;
    position: absolute;
    top: 0;
    /* 클릭가능한 곳에 mouse point */
    cursor: pointer;
}
.tab-act .tab{
    color: #ce4827;
    background: #fff;
    border-color: #ce4827 #ce4827 #fff #ce4827;
}
.notice-heading{
    left: 0;
}
.pds-heading{
    left: 76px
}
.board > section > a{
    position: absolute;
}
.notice-list, .pds-list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.notice-list li, .pds-list li{
    display: flex
}
/* 부모가 flex container가 되면 자식은 자동으로 felx item이 된다 */
/* 남는 영역을 다 확장 -grow 확대 shrink 축소 
메인 영역 놔두고 메인과 퓨터만 고정된다면 flex-grow:1*/
/* text overflowr 말줄임표  */
.notice-list a, .pds-list a{
    /* flex-grow: 1; */
    /* text-overflow를 하려면 3개 세트로 whitespace 말줄임표는 한줄밖에 못 씀 */
    text-overflow: ellipsis;
    word-spacing: nowrap;
    overflow: hidden;
    width: 280px;
}
.notice-list time, .pds-list time{
    width: auto;
}
.notice-more, .pds-more{
    position: absolute;
    top: 0;
    right: 0;
}

/* 슬로건 */
.slogan{
    background-color: lightgreen;                                                               
    height: 10vh;
}
.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}